[Unit]
Description=Neuron SDK downgrade for inf1 instances
Before=cloud-init.service ecs.service

[Service]
Type=oneshot
ExecStart=/var/lib/ecs/scripts/neuron-inf1-downgrade.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
